<div class="row">
  <div class="col-md-12">
    <div class="box box-widget widget-user-2">
      <div class="widget-user-header bg-yellow">
        <div class="widget-user-image">
          <img class="img-circle" src="<%= asset_path 'exam.png' %>" alt="User Avatar">
        </div>
        <h3 class="widget-user-username"><%= @attention.employee.name %></h3>
        <h5 class="widget-user-desc">HC: <%= @attention.nro_hc %></h5>
      </div>
      <div class="box-footer no-padding">
        <div class="row">
          <div class="col-md-12">
            <div class="box">
              <div class="box-header with-border">
                <div class="row">
                  <div class="col-lg-11">
                    <h3 class="box-title">
                      Lista de exámenes
                    </h3>
                  </div>
                  <% if @attention.type_attention == 'pre-ocupacional' %>
                  <div class="col-lg-1">
                    <div class="btn-group">
                      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="font-size:0px; padding:6px 5px;">
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu">
                        <% @type_exam_ohs = TypeExam.find_by(view: 'occupational_health_summary') %>
                        <% @occupational_health_summary = @attention.exams.find_by(type_exam_id: @type_exam_ohs.id) %>
                        <% if @occupational_health_summary.present? %>
                        <li><%= link_to @type_exam_ohs.name.capitalize, exam_edit_path(:id => @occupational_health_summary.id, :type_exam => @type_exam_ohs.id), target: '_blank' %></li>
                        <% else %>
                        <li><%= link_to @type_exam_ohs.name.capitalize, attention_new_exams_path(:id => @attention.id, :type_exam => @type_exam_ohs.id), target: '_blank' %></li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                  <% end %>
                </div>
              </div>
              <div class="box-body">
                <table class="table table-bordered">
                  <tbody>
                    <tr>
                      <th style="width: 10px">#</th>
                      <th>Nombre</th>
                      <th style="width: 20px">Opciones</th>
                    </tr>
                    <% @exams.each_with_index do |e,index| %>
                    <% next if e.type_exam.view == 'occupational_health_summary' %>
                    <% if current_user.role_id != 'medical' %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= e.type_exam.name.capitalize %></td>
                        <td>
                          <% if current_user.role_id == 'recepcionist' %>
                            <a></a>
                          <% else %>
                            <a><%= link_to image_tag('User_Editar.ico', style:'width:25px'), exam_edit_path(:id => e.id, :type_exam => e.type_exam.id)%></a>
                          <% end %>
                          <a><%= link_to image_tag('pdft.jpg', style:'width:25px'), create_pdf_exam_path(format: :pdf, :id => e.id),target: '_blank'%></a>
                        </td>
                      </tr>
                    <% elsif e.type_exam.area_id == current_user.medical.area_id%>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= e.type_exam.name.capitalize %></td>
                        <td>
                          <a><%= link_to image_tag('User_Editar.ico', style:'width:25px'), exam_edit_path(:id => e.id, :type_exam => e.type_exam.id)%></a>
                          <a><img src="<%= asset_path 'pdft.jpg' %>" style="width:25px"></a>
                        </td>
                      </tr>
                    <% end %>
                    <% end %>
                  </tbody>
                </table>
              </div>
              <!-- <div class="box-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
              <li><a href="#">«</a></li>
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">»</a></li>
            </ul>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
