<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Atenciones</h3>
        <div class="box-tools">
          <form class="" action="/attentions" method="get">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" <%= @search %> >
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Historía clínica</th>
              <th>Empleado</th>
              <th>Fecha</th>
              <th>Tipo</th>
              <th>Departamento</th>
              <th>Provincia</th>
              <th>Distrito</th>
              <th colspan="3"></th>
            </tr>
            <% @attentions.each do |attention| %>
            <tr>
              <td><%= attention.nro_hc %></td>
              <td><%= link_to attention.employee.name, attention.employee %></td>
              <td><%= attention.created_at.to_date %></td>
              <td><%= attention.type_attention.capitalize %></td>
              <td><%= attention.department.capitalize %></td>
              <td><%= attention.province.capitalize %></td>
              <td><%= attention.district.capitalize %></td>
              <td><%= link_to image_tag('exam.png', style:'width:33px'), attention_exams_path(:id => attention.id)%></td>
              <td><a data-toggle="modal" data-target="#modalNewExam<%= attention.id %>" data-backdrop="static" data-keyboard="false"><img style="width:33px" src="<%= asset_path 'doctor.png' %>"></a></td>
              <% if user_signed_in? && current_user.role_id != 'medical'%>
                <td><a data-toggle="modal" data-target="#modalUpdate<%= attention.id %>" data-backdrop="static" data-keyboard="false"><img src="<%= asset_path 'User_Editar.ico' %>"></a></td>
              <% end %>
              <% if user_signed_in? && current_user.role_id != 'medical'%>
                <td><%= link_to image_tag('User_Eliminar.ico'), attention, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <%= will_paginate @attentions, previous_label: "Atrás", next_label: "Siguiente", innner_window:1, outer_window: 0,renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<% @attentions.each do |attention| %>
<div class="container">
  <div class="modal" id="modalUpdate<%= attention.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <div class="col-lg-11 text-center">
              <h4 class="modal-title">Actualizar Atención</h4>
            </div>
            <div class="col-lg-1 text-right">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <%= form_for(attention, url: attention_update_general_path(attention.id), remote: 'true') do |form| %>
        <div class="modal-body" >
          <div class="row">
            <div class="col-lg-12">
              <div class="box-body">
                <div class="form-group">
                  <label>Tipo:</label>
                  <%= form.select(:type_attention, type_attention_for_select, { include_blank: 'Seleccionar tipo' }, {class: "form-control" }) %>
                </div>
                <div class="form-group">
                  <label>Departamento:</label>
                  <%= form.text_field :department, class: "form-control input-sm" %>
                </div>
                <div class="form-group">
                  <label>Provincia:</label>
                  <%= form.text_field :province, class: "form-control input-sm" %>
                </div>
                <div class="form-group">
                  <label>Distrito:</label>
                  <%= form.text_field :district, class: "form-control input-sm" %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <%= form.submit 'Guardar', class:'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>

<% @attentions.each do |attention| %>
<div class="container">
  <div class="modal" id="modalNewExam<%= attention.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <div class="col-lg-11 text-center">
              <h4 class="modal-title">Seleccionar exámen</h4>
            </div>
            <div class="col-lg-1 text-right">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <div class="modal-body" >
          <div class="row">
            <div class="col-lg-12">
              <div class="box-body">
                <div class="row">
                  <div class="col-lg-12">
                    <% @type_exams.each do |type_exam| %>
                    <% if type_exam.area_id == current_user.medical.area_id %>
                      <% next if type_exam.view == 'occupational_health_summary' %>
                      <div class="col-lg-6">
                        <i class="fa fa-fw fa-ambulance"></i> <%= link_to type_exam.name.capitalize, attention_new_exams_path(:id => attention.id, :type_exam => type_exam.id), target: '_blank' %>
                      </div>
                      <% end %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
