<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @attention.employee %>
</p>

<p>
  <strong>Nro hc:</strong>
  <%= @attention.nro_hc %>
</p>

<p>
  <strong>Type:</strong>
  <%= @attention.type %>
</p>

<p>
  <strong>Department:</strong>
  <%= @attention.department %>
</p>

<p>
  <strong>Province:</strong>
  <%= @attention.province %>
</p>

<p>
  <strong>District:</strong>
  <%= @attention.district %>
</p>

<p>
  <strong>General:</strong>
  <%= @attention.general %>
</p>

<p>
  <strong>Physical:</strong>
  <%= @attention.physical %>
</p>

<p>
  <strong>Psychological:</strong>
  <%= @attention.psychological %>
</p>

<p>
  <strong>Radiology:</strong>
  <%= @attention.radiology %>
</p>

<p>
  <strong>X ray oit:</strong>
  <%= @attention.x_ray_oit %>
</p>

<p>
  <strong>Pathological findings:</strong>
  <%= @attention.pathological_findings %>
</p>

<p>
  <strong>Audiometry:</strong>
  <%= @attention.audiometry %>
</p>

<p>
  <strong>Spirometry:</strong>
  <%= @attention.spirometry %>
</p>

<p>
  <strong>Ophthalmological:</strong>
  <%= @attention.ophthalmological %>
</p>

<p>
  <strong>Electrocardiogram:</strong>
  <%= @attention.electrocardiogram %>
</p>

<p>
  <strong>Epworth test:</strong>
  <%= @attention.epworth_test %>
</p>

<p>
  <strong>Structural height test:</strong>
  <%= @attention.structural_height_test %>
</p>

<p>
  <strong>Stress test:</strong>
  <%= @attention.stress_test %>
</p>

<p>
  <strong>Personality test:</strong>
  <%= @attention.personality_test %>
</p>

<p>
  <strong>Odontogram:</strong>
  <%= @attention.odontogram %>
</p>

<p>
  <strong>Occupational medical diagnosis:</strong>
  <%= @attention.occupational_medical_diagnosis %>
</p>

<p>
  <strong>Other diagnoses:</strong>
  <%= @attention.other_diagnoses %>
</p>

<p>
  <strong>Recommendations:</strong>
  <%= @attention.recommendations %>
</p>

<%= link_to 'Edit', edit_attention_path(@attention) %> |
<%= link_to 'Back', attentions_path %>
