<nav class="navbar navbar-static-top">
  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
    <span class="sr-only">Toggle navigation</span>
  </a>
  <div class="navbar-custom-menu">
    <ul class="nav navbar-nav">
      <li class="dropdown user user-menu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
          <% if !current_user.avatar.url(:thumb).include? '/avatars/thumb/missing.png' %>
          <%= image_tag current_user.avatar.url(:thumb), alt:'User Image', class: "user-image" %>
          <% else %>
          <img src="<%= asset_path 'default-profile.jpg' %>" class="user-image">
          <% end %>
          <% if user_signed_in? %>
          <span class="hidden-xs"><%= current_user.email if !current_user.name.present? %></span>
          <span class="hidden-xs"><%= current_user.name %>  <%= current_user.lastname %></span>
          <% end %>
        </a>
        <ul class="dropdown-menu">
          <li class="user-header">
            <% if !current_user.avatar.url(:thumb).include? '/avatars/thumb/missing.png' %>
            <%= image_tag current_user.avatar.url(:thumb), alt:'User Image', class: "img-circle" %>
            <% else %>
            <%= image_tag ('default-profile.jpg'), alt:'User Image', class: "img-circle" %>
            <% end %>
            <p>
              <%= current_user.email if !current_user.name.present? %><%= current_user.name %> <%= current_user.lastname %> - <%= current_user.position if current_user.position.present? %>
            </p>
          </li>
          <li class="user-body">
            <div class="row">
              <div class="col-xs-4 text-center">
                <a href="#">Followers</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Sales</a>
              </div>
              <div class="col-xs-4 text-center">
                <a href="#">Friends</a>
              </div>
            </div>
          </li>
          <li class="user-footer">
            <div class="pull-left">
              <%= link_to "Editar perfil" , edit_profile_users_path , class: 'btn btn-default btn-flat' %>
            </div>
            <div class="pull-right">
              <%= link_to "Cerrar sesión" , destroy_user_session_path, method: :delete, class: 'btn btn-default btn-flat' %>
            </div>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
