<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <%= form_for(@user, url: users_create_path(current_user.id), remote: 'true') do |f| %>
      <div class="box-body">
        <div class="form-group">
          <div class="row">
            <div class="col-lg-12">
              <label class="col-sm-1 control-label">Email</label>
              <div class="col-sm-5">
                <%= f.text_field :email, class: "form-control input-sm" %>
              </div>
              <label class="col-sm-1 control-label">Rol</label>
              <div class="col-sm-5">
                <%= f.select(:role_id, user_role_for_select, { include_blank: 'Seleccionar Rol' }, :class => "form-control") %>
              </div>
            </div>
          </div><br>
          <div class="row">
            <div class="col-sm-offset-5 col-sm-10">
              <%= f.submit 'Guardar', class:'btn btn-primary' %>
              <%= link_to 'Volver', :back, class:'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
