<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Usuarios</h3>
        <div class="box-tools">
          <form class="" action="/users" method="get">
            <div class="row">
              <div class="col-lg-2 col-xs-6 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-block btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" >
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <%= link_to users_path(format: :pdf, search: @search), target: '_blank' do %>
                      Exportar a pdf
                      <% end %>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-10 col-xs-6 text-right">
                <div class="input-group input-group-sm" style="width: 150px;">
                  <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" <%= @search %> >
                  <div class="input-group-btn">
                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Nombre</th>
              <th>Email</th>
              <th>Rol</th>
              <th>DNI</th>
              <th>Teléfono</th>
              <th>Cargo</th>
              <th>Dirección</th>
              <th colspan="3"></th>
            </tr>
            <% @users.each do |user| %>
            <% next if user.role_id == 'superadmin' %>
            <tr>
              <td><%= user.name %> <%= user.lastname %></td>
              <td><%= user.email %></td>
              <td><%= user.role_id %></td>
              <td><%= user.dni %></td>
              <td><%= user.phone %></td>
              <td><%= user.position %></td>
              <td><%= user.address %></td>
              <td><a data-toggle="modal" data-target="#modalUpdate<%= user.id %>" data-backdrop="static" data-keyboard="false">Cambiar rol</a></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <%= will_paginate @users, previous_label: "Atrás", next_label: "Siguiente", innner_window:1, outer_window: 0,renderer: BootstrapPagination::Rails %>
    </div>
  </div>
</div>

<% @users.each do |user| %>
<div class="container modalUpdate">
  <div class="modal" id="modalUpdate<%= user.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <div class="col-lg-11 text-center">
              <h4 class="modal-title">Actualizar Rol</h4>
            </div>
            <div class="col-lg-1 text-right">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <%= form_for(user, url: change_rol_path(user.id), remote: 'true') do |f| %>
        <div class="modal-body" >
          <div class="row">
            <div class="col-lg-12">
              <div class="box-body">
                <div class="form-group">
                  <label>Rol:</label>
                  <%= f.select(:role_id, user_role_for_select, { include_blank: 'Seleccionar Rol' }, :class => "form-control") %>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="actions">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
            <%= f.submit 'Guardar', class:'btn btn-primary' %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
