<%= form_for(@exam, url: save_exam_path, remote: 'true') do |f| %>
<%= hidden_field_tag "exam[type_exam_id]", "#{@type_exam.id}" %>
<% if @edit == 0 %>
<%= hidden_field_tag "exam[attention_id]", "#{@attention.id}" %>
<% else %>
<%= hidden_field_tag "exam[exam_id]", "#{@exam.id}" %>
<% end %>
<div class="row">
  <div class="col-md-12">
    <div class="box box-info">
      <div class="box box-default">
        <div class="box-body">
          <div class="form-group">
            <div class="row">
              <div class="col-lg-2">
                <label class="col-lg-12">Ficha Músculo-Esquéletica</label>
              </div>
            </div>
          </div>
          <div class="col-lg-12">
              <div class="col-lg-12">
                  <label>
                      ¿Tuvo episodio previo el doctor de espalda?
                  </label>
                  <label>
                  </label>
                  <input name="a" type="radio">
                      SI
                  </input>
                  <input name="a" type="radio">
                      NO
                  </input>
              </div>
              <div class="col-lg-12">
                  <label>
                  </label>
              </div>
              <div class="col-lg-2">
                  <label>
                      ¿Levanta peso?
                  </label>
              </div>
              <div class="col-lg-1">
                  SI
                  <input name="a" type="radio">
                  </input>
              </div>
              <b class="col-lg-1">
                  ¿Cuánto?
              </b>
              <div class="col-lg-2">
                  <input class="form-control" readonly="true" type="text">
                  </input>
              </div>
              <div class="col-lg-1">
                  NO
                  <input name="a" type="radio">
                  </input>
              </div>
          </div>
          <div class="col-lg-12">
              <label>
              </label>
          </div>
          <div class="col-lg-12">
              <label>
              </label>
          </div>
          <div class="col-lg-12">
              <div class="box-body table-responsive no-padding">
                  <style type="text/css">
                      .tg  {border-collapse:collapse;border-spacing:0;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:black;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-hgcj{font-weight:bold;text-align:center}
.tg .tg-amwm{font-weight:bold;text-align:center;vertical-align:top}
                  </style>
                  <table class="tg" style="undefined;table-layout: fixed; width: 1020px">
                      <colgroup>
                          <col style="width: 130.88889px">
                              <col style="width: 120.88889px">
                                  <col style="width: 150.88889px">
                                      <col style="width: 130px">
                                          <col style="width: 140px">
                                              <col style="width: 60.88889px">
                                                  <col style="width: 236.88889px">
                                                  </col>
                                              </col>
                                          </col>
                                      </col>
                                  </col>
                              </col>
                          </col>
                      </colgroup>
                      <tr>
                          <th class="tg-hgcj">
                              Aptitud de Espalda
                          </th>
                          <th class="tg-hgcj">
                              Excelente
                          </th>
                          <th class="tg-hgcj">
                              Bueno
                          </th>
                          <th class="tg-hgcj">
                              Regular
                          </th>
                          <th class="tg-hgcj">
                              Malo
                          </th>
                          <th class="tg-hgcj">
                              Puntos
                          </th>
                          <th class="tg-hgcj">
                              Observaciones
                          </th>
                      </tr>
                      <tr>
                          <td class="tg-hgcj">
                              Flexibilidad / Fuerza
                              <br>
                                  Abdomen
                              </br>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="fb" type="radio" value="1"/>
                                  <img src="/assets/abdomen.png">
                                  </img>

                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="fb" type="radio" value="2"/>
                                  <img src="/assets/abs2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="fb" type="radio" value="3"/>
                                  <img src="/assets/abs3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="fb" type="radio" value="4"/>
                                  <img src="/assets/abs4.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-hgcj">
                              <input class="form-control" type="text">
                              </input>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-hgcj">
                              Cadera
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="cd" type="radio" value="1"/>
                                  <img src="/assets/cadera.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="cd" type="radio" value="2"/>
                                  <img src="/assets/cadera2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="cd" type="radio" value="3"/>
                                  <img src="/assets/cadera3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <label>
                                  <input name="cd" type="radio" value="4"/>
                                  <img src="/assets/cadera4.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-hgcj">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-hgcj">
                              <input class="form-control" type="text">
                              </input>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Muslo
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="mu" type="radio" value="1"/>
                                  <img src="/assets/muslo.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="mu" type="radio" value="2"/>
                                  <img src="/assets/muslo2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="mu" type="radio" value="3"/>
                                  <img src="/assets/muslo3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="mu" type="radio" value="4"/>
                                  <img src="/assets/muslo4.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" type="text">
                              </input>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Abdomen Lateral
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="ab" type="radio" value="3"/>
                                  <img src="/assets/ab.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="ab" type="radio" value="3"/>
                                  <img src="/assets/ab2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="ab" type="radio" value="3"/>
                                  <img src="/assets/ab3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="ab" type="radio" value="3"/>
                                  <img src="/assets/ab4.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" type="text">
                              </input>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm" colspan="5">
                              Total
                          </td>
                          <td class="tg-baqh">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                      </tr>
                  </table>
                  <div class="col-lg-12">
                      <label>
                      </label>
                  </div>
              </div>
          </div>
          <div class="col-lg-12">
              <label>
              </label>
          </div>
          <div class="col-lg-12">
              <div class="box-body table-responsive no-padding">
                  <table class="tg" style="undefined;table-layout: fixed; width: 1020px">
                      <colgroup>
                          <col style="width: 247.88889px">
                              <col style="width: 172.88889px">
                                  <col style="width: 150.88889px">
                                      <col style="width: 153.88889px">
                                          <col style="width: 99.88889px">
                                              <col style="width: 182.88889px">
                                              </col>
                                          </col>
                                      </col>
                                  </col>
                              </col>
                          </col>
                      </colgroup>
                      <tr>
                          <th class="tg-amwm">
                              Rangos Articulares
                          </th>
                          <th class="tg-amwm">
                              Optimo
                          </th>
                          <th class="tg-amwm">
                              Limitado
                          </th>
                          <th class="tg-amwm">
                              Muy Limitado
                          </th>
                          <th class="tg-amwm">
                              Puntos
                          </th>
                          <th class="tg-amwm">
                              Dolor con Resistencia
                          </th>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Abducción de Hombro
                              <br>
                                  (Normal 0° - 180°)
                              </br>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="abdu" type="radio" value="1"/>
                                  <img src="/assets/abdu.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="abdu" type="radio" value="2"/>
                                  <img src="/assets/abdu2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="abdu" type="radio" value="3"/>
                                  <img src="/assets/abdu3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <select class="form-control">
                                  <option value="">
                                      Elija
                                  </option>
                                  <option value="SI">
                                      SI
                                  </option>
                                  <option value="NO">
                                      NO
                                  </option>
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Aducción de Hombro
                              <br>
                                  (Normal 0° - 80°)
                              </br>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="adu" type="radio" value="1"/>
                                  <img src="/assets/homb.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="adu" type="radio" value="2"/>
                                  <img src="/assets/homb2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="adu" type="radio" value="3"/>
                                  <img src="/assets/homb3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <select class="form-control">
                                  <option value="">
                                      Elija
                                  </option>
                                  <option value="SI">
                                      SI
                                  </option>
                                  <option value="NO">
                                      NO
                                  </option>
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Rotación Externa
                              <br>
                                  (Normal 0° - 90°)
                              </br>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="rot" type="radio" value="1"/>
                                  <img src="/assets/rot.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="rot" type="radio" value="2"/>
                                  <img src="/assets/rot2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="rot" type="radio" value="3"/>
                                  <img src="/assets/rot3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <select class="form-control">
                                  <option value="">
                                      Elija
                                  </option>
                                  <option value="SI">
                                      SI
                                  </option>
                                  <option value="NO">
                                      NO
                                  </option>
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm">
                              Abducción Interna
                              <br>
                                  (Normal 0° - 90°)
                              </br>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="roti" type="radio" value="1"/>
                                  <img src="/assets/roti.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="roti" type="radio" value="2"/>
                                  <img src="/assets/roti2.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <label>
                                  <input name="roti" type="radio" value="3"/>
                                  <img src="/assets/roti3.png">
                                  </img>
                              </label>
                          </td>
                          <td class="tg-amwm">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                          <td class="tg-amwm">
                              <select class="form-control">
                                  <option value="">
                                      Elija
                                  </option>
                                  <option value="SI">
                                      SI
                                  </option>
                                  <option value="NO">
                                      NO
                                  </option>
                              </select>
                          </td>
                      </tr>
                      <tr>
                          <td class="tg-amwm " colspan="4">
                              Total
                          </td>
                          <td class="tg-0lax">
                              <input class="form-control" readonly="true" type="text">
                              </input>
                          </td>
                      </tr>
                  </table>
              </div>
          </div>
        </div>
        <div class="box-body">
          <div class="form-group">
            <div class="col-sm-offset-5 col-sm-10">
              <%= f.submit 'Guardar', class:'btn btn-primary' %>
              <%= link_to 'Volver', :back, class:'btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
