<h2 class="page-header">
  <i class="fa fa-globe"></i> <%= @medical.firstname %>
  <small style="float: right;">Fecha de nacimiento: <%= @medical.birthday.strftime(" %m-%d-%Y")  %></small>
</h2>
<div class="row invoice-info">
  <div class="col-sm-4 invoice-col">
    <% if @medical.dni.present? %>
    <strong>DNI:</strong>
    <address>
      <%= @medical.dni %>
    </address>
    <% end %>
    <% if @medical.phone.present? %>
    <strong>Teléfono:</strong>
    <address>
      <%= @medical.phone %>
    </address>
    <% end %>
    <% if @medical.email.present? %>
    <strong>Email:</strong>
    <address>
      <%= @medical.email %>
    </address>
    <% end %>
    <% if @medical.specialty.present? %>
    <strong>Sexo:</strong>
    <address>
      <%= @medical.specialty %>
    </address>
    <% end %>
    <% if @medical.sex.present? %>
    <strong>Sexo:</strong>
    <address>
      <%= @medical.sex %>
    </address>
    <% end %>
  </div>
  <div class="col-sm-4 invoice-col">
    <% if @medical.address.present? %>
    <strong>Dirección:</strong>
    <address>
      <%= @medical.address %>
    </address>
    <% end %>
    <% if @medical.way.present? %>
    <strong>Av/Calle/Jirón/Pasaje:</strong>
    <address>
      <%= @medical.way %>
    </address>
    <% end %>
    <% if @medical.numb_depart_int.present? %>
    <strong>Nro/Departamento/Interior:</strong>
    <address>
      <%= @medical.numb_depart_int %>
    </address>
    <% end %>
    <% if @medical.urbanization.present? %>
    <strong>Urbanización:</strong>
    <address>
      <%= @medical.urbanization %>
    </address>
    <% end %>
    <% if @medical.province.present? %>
    <strong>Provincia:</strong>
    <address>
      <%= @medical.province %>
    </address>
    <% end %>
    <% if @medical.district.present? %>
    <strong>Distrito:</strong>
    <address>
      <%= @medical.district %>
    </address>
    <% end %>
    <% if @medical.department.present? %>
    <strong>Departamento:</strong>
    <address>
      <%= @medical.department %>
    </address>
    <% end %>
  </div>
  <div class="col-sm-4 invoice-col">
    <% if @medical.civil_status.present? %>
    <strong>Estado civil:</strong>
    <address>
      <%= @medical.civil_status %>
    </address>
    <% end %>
    <% if @medical.degree_instruction.present? %>
    <strong>Grado de instrucción:</strong>
    <address>
      <%= @medical.degree_instruction %>
    </address>
    <% end %>
    <% if @medical.interests.present? %>
    <strong>Intereses:</strong>
    <address>
      <%= @medical.interests %>
    </address>
    <% end %>
  </div>
</div>
