<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @medical.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @medical.lastname %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @medical.specialty %>
</p>

<p>
  <strong>Dni:</strong>
  <%= @medical.dni %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @medical.phone %>
</p>

<p>
  <strong>Firm:</strong>
  <%= @medical.firm %>
</p>

<p>
  <strong>Department:</strong>
  <%= @medical.department %>
</p>

<p>
  <strong>Address:</strong>
  <%= @medical.address %>
</p>

<p>
  <strong>Birthday:</strong>
  <%= @medical.birthday %>
</p>

<p>
  <strong>Aptitude:</strong>
  <%= @medical.aptitude %>
</p>

<p>
  <strong>Interests:</strong>
  <%= @medical.interests %>
</p>

<p>
  <strong>Range:</strong>
  <%= @medical.range %>
</p>

<p>
  <strong>District:</strong>
  <%= @medical.district %>
</p>

<p>
  <strong>Province:</strong>
  <%= @medical.province %>
</p>

<p>
  <strong>Area:</strong>
  <%= @medical.area %>
</p>

<%= link_to 'Edit', edit_medical_path(@medical) %> |
<%= link_to 'Back', medicals_path %>
