<div class="row">
  <div class="col-xs-12">
    <div class="box">
      <div class="box-header">
        <h3 class="box-title">Áreas</h3>
        <div class="box-tools">
          <form class="" action="/areas" method="get">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="search" class="form-control pull-right" placeholder="Buscar" <%= @search %> >
              <div class="input-group-btn">
                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
          <tbody>
            <tr>
              <th>Nombre</th>
              <th>Descripción</th>
              <th colspan="2"></th>
            </tr>
            <% @areas.each do |area| %>
            <tr>
              <td><%= area.name.capitalize %></td>
              <td><%= area.description.capitalize %></td>
              <% if user_signed_in? && (current_user.role_id == 'superadmin' || current_user.role_id == 'admin')%>
              <td><a data-toggle="modal" data-target="#modalUpdate<%= area.id %>" data-backdrop="static" data-keyboard="false">Editar</a></td>
              <td><%= link_to 'Eliminar', area, method: :delete, data: { confirm: '¿Estás seguro?' } %></td>
              <% end %>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div class="row">
        <div class="col-lg-12 text-center">
          <%= will_paginate @areas, previous_label: "Atrás", next_label: "Siguiente", innner_window:1, outer_window: 0,renderer: BootstrapPagination::Rails %>
        </div>
      </div>
    </div>
  </div>
  <% if user_signed_in? && (current_user.role_id == 'superadmin' || current_user.role_id == 'admin')%>
  <div class="col-xs-12 text-center">
    <a data-toggle="modal" data-target="#modalCreate_area" data-backdrop="static" data-keyboard="false" class="btn btn-success">
      Agregar área
    </a>
  </div>
  <% end %>
</div>

<div class="container">
  <div class="modal" id="modalCreate_area">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <div class="col-lg-11 text-center">
              <h4 class="modal-title">Registrar Área</h4>
            </div>
            <div class="col-lg-1 text-right">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <%= form_for(@area, url: areas_path, remote: 'true') do |form| %>
        <%= render partial: 'areas/form', locals: { form: form } %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% @areas.each do |area| %>
<div class="container modalUpdate">
  <div class="modal" id="modalUpdate<%= area.id %>">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <div class="col-lg-12">
            <div class="col-lg-11 text-center">
              <h4 class="modal-title">Actualizar área</h4>
            </div>
            <div class="col-lg-1 text-right">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
          </div>
        </div>
        <%= form_for(area, url: area_path(area.id), remote: 'true') do |form| %>
        <%= render partial: 'areas/form', locals: { form: form} %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
